//Styled Components

//Divider
.Divider {
    border-top: 1px black solid;
    align-self: center;
    width: 80%;
    margin: 8px 0px;
}

//Nav Drawer
.NavDrawer {
    width: 15%;
    height: 100vh;
    background-color: white;
    display: flex;

    flex-direction: column;

    .TitleLogo {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 4px 16px;
        .NavLogo {
            height: 5vh;
            width: 5vw;
            margin: 0px 10px;
        }
    }
    .Greeting {
        text-align: center;
        font-family: monospace;
        margin: 15px 0px;
    }
    .NavItems {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        height: 80%;

        :nth-child(8) {
            margin-top: auto;
        }
        .NavItem {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            width: 100%;
            padding: 16px 12px;
        }

        .NavItem:hover {
            background-color: rgba(0, 0, 0, 0.04);
        }
        .NavItemSelected {
            border-radius: 35px;
            background-color: rgba(0, 0, 0, 0.25);
            color: white;
            .NavItemsLogo {
                fill: black;
            }
        }
        .NavItemsLogo {
            height: 20px;
            width: 20px;
            margin: 0px 16px;
        }
    }
}

//SearchInput
.SearchInput {
    .Inputarea {
        background-image: url("../../Assets/searchquote.svg");
        background-size: 5%;
        background-repeat: no-repeat;
        background-position: 5px;

        display: block;
        width: 40%;
        border: 1px solid black;
        border-radius: 5px;
        box-shadow: 0px 0;
        padding: 8px 12px 8px 48px;
        margin: 2% auto;

        text-transform: uppercase;
    }
    .Error {
        border: 4px solid red;
        margin: 2% auto 0.5% auto;
    }
    .Error_msg {
        border: 2px solid red;
        border-radius: 15px;

        background-color: red;
        color: white;

        width: 40%;
        margin: 0% auto 1% auto;

        text-align: center;
        text-transform: uppercase;
    }
    .InputArea:focus {
        outline: none;
    }
}

//Card
.Card {
    border-radius: 10px;

    background-color: white;
    z-index: 1;

    width: 90%;

    padding: 24px 24px;
    margin: auto auto;

    box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.05),
        0 5px 15px 0 rgba(0, 0, 0, 0.05);
    transition: ease box-shadow 0.5s;
    &:hover {
        box-shadow: 0 15px 60px 0 rgba(0, 0, 0, 0.15),
            0 5px 25px 0 rgba(0, 0, 0, 0.15);
    }
}
.H100 {
    height: 100%;
}

//Skeleton
.Skeleton {
    position: relative;
    background-color: #e2e2e2;

    &::after {
        display: block;
        background: linear-gradient(
            90deg,
            transparent,
            rgba(255, 255, 255, 0.5),
            transparent
        );
        content: "";
        width: 100%;
        height: 100%;

        transform: translateX(-100%);
        animation: loading 1.25s infinite;
    }
}

@keyframes loading {
    100% {
        transform: translateX(100%);
    }
}

//Dialog
.Dialog {
    display: none;
    height: 100vh;
    width: 100vw;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    .Card {
        position: relative;
        height: 50%;
        width: 50%;
        margin: 10% auto 10% auto;
        padding: 8px 24px;
    }
}

//Snackbar
.Snackbar {
    visibility: hidden;
    text-align: center;
    border-radius: 5px;
    color: white;

    position: fixed;
    top: 50px;

    padding: 8px;
    z-index: 3;

    display: flex;
    align-items: center;
    justify-content: flex-start;

    height: 5%;

    &.Error {
        background-color: red;
    }
    &.Info {
        background-color: blue;
    }

    &.Success {
        background-color: green;
    }
    &.Warning {
        background-color: #ffa000;
    }

    .SnackLogo {
        visibility: hidden;
        width: 5%;
        fill: white;
        margin: 0px 16px;

        &.Error,
        &.Info,
        &.Success,
        &.Warning {
            visibility: visible;
        }
    }
}

.Snackbar.Show {
    visibility: visible;
    animation: fadeIn 0.5s, fadeOut 0.5s 1.5s;
}

@keyframes fadeIn {
    from {
        top: 0;
        opacity: 0;
    }
    to {
        top: 50px;
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        top: 50px;
        opacity: 1;
    }
    to {
        top: 0;
        opacity: 0;
    }
}

//Spinner
.SpinnerContainer {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    h1 {
        position: absolute;
    }
    .Spinner {
        height: 50vh;
        width: 50vh;
        border: 15px solid rgba($color: gray, $alpha: 0.3);
        border-top: 15px solid black;
        border-radius: 50%;
        animation: spin 1s linear infinite;
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
