//Styled Components

%SnackLogo {
    content: "";
    display: inline-block;
    height: 24px;
    width: 24px;
    margin: 8px 12px 8px 0px;
    background-size: 24px 24px;
    background-repeat: no-repeat;
}

//Divider
.Divider {
    border: none;
    height: 1px;
    background-color: rgba($color: grey, $alpha: 0.5);
    width: 80%;
    align-self: center;
    // border-top: 1px black solid;
    // align-self: center;
    // width: 80%;
    // margin: 8px 0px;
}

//SidePanel
.SidePanel {
    width: 15%;
    height: 100vh;

    display: flex;
    flex-direction: column;
    background-color: rgba($color: black, $alpha: 0.85);
    color: white;

    &.Collapsed {
        width: 5%;
    }

    .Dialog {
        .Card {
            display: flex;
            align-items: center;
            justify-content: center;
            button {
                width: 50%;
                padding: 8px 16px;
                border: 1px solid black;
                border-radius: 10px;
                background-color: red;
                color: white;
            }
        }
    }

    .TitleLogo {
        font-size: xx-large;
        font-family: system-ui;
        font-weight: bold;
        margin: 20% 0px;

        span.Collapsed {
            display: none;
        }

        &::before {
            content: "";
            display: inline-block;
            height: 40px;
            width: 40px;
            vertical-align: bottom;

            margin: 2px 12px;
            background-size: 40px 40px;
            background-repeat: no-repeat;
            background-image: url("../../Assets/Plutus\ Icon.svg");
        }
    }
    .NavItems {
        display: flex;
        flex-direction: column;
        height: 100%;

        padding: 8px 0px;
        margin: 0;
        margin-top: 70%;

        .NavItem {
            padding: 8px 16px;
            position: relative;
            display: flex;
            align-items: center;
            justify-items: flex-start;
            text-align: left;
            cursor: pointer;

            &:not(:last-child):hover {
                .NavItemIcon {
                    fill: lightseagreen;
                }
            }

            &.Selected {
                &::before {
                    content: "";
                    position: absolute;
                    left: 0;
                    height: 50%;
                    width: 3px;
                    border: 1px solid white;
                    background-color: white;
                }
                color: white;

                .NavItemIcon {
                    fill: white;
                }
            }

            &.Collapsed {
                &:not(:last-child):hover::after {
                    content: attr(tooltip);
                    position: fixed;
                    z-index: 50;
                    padding: 8px 16px;
                    border-radius: 15px;
                    background-color: rgba($color: gray, $alpha: 0.6);
                    color: white;
                    white-space: nowrap;
                    transform: translateX(50%);
                }
                .NavItemText {
                    display: none;
                }
            }

            &:last-child {
                align-self: flex-end;
            }

            .NavItemIcon {
                height: 25px;
                width: 25px;
                margin: 10px 10px 10px 0px;
                vertical-align: middle;
                fill: gray;
            }
            .NavItemText {
                line-height: 1.5;
                font-size: 1rem;
                font-weight: 500;
            }
        }
    }
}

//SearchInput
.SearchInput {
    .Inputarea {
        background-image: url("../../Assets/searchquote.svg");
        background-size: 5%;
        background-repeat: no-repeat;
        background-position: 5px;

        display: block;
        width: 40%;
        border: 1px solid black;
        border-radius: 5px;
        box-shadow: 0px 0;
        padding: 8px 12px 8px 48px;
        margin: 2% auto;

        text-transform: uppercase;
    }
    .Error {
        outline: 3px solid red;
    }
    .Error_msg {
        border: 2px solid red;
        border-radius: 15px;

        background-color: red;
        color: white;

        width: 40%;
        margin: 0% auto 1% auto;

        text-align: center;
        text-transform: uppercase;
    }
    .InputArea:focus {
        outline: none;
    }
}

//Card
.Card {
    border-radius: 10px;

    background-color: white;
    z-index: 1;

    width: 100%;
    &.H100 {
        height: 100%;
    }
    padding: 24px 24px;
    margin: auto auto;

    box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.05),
        0 5px 15px 0 rgba(0, 0, 0, 0.05);
    transition: ease box-shadow 0.5s;
    &:hover {
        box-shadow: 0 15px 60px 0 rgba(0, 0, 0, 0.15),
            0 5px 25px 0 rgba(0, 0, 0, 0.15);
    }
}

//Skeleton
.Skeleton {
    position: relative;
    background-color: #e2e2e2;

    &::after {
        display: block;
        background: linear-gradient(
            90deg,
            transparent,
            rgba(255, 255, 255, 0.5),
            transparent
        );
        content: "";
        width: 100%;
        height: 100%;

        transform: translateX(-100%);
        animation: loading 1.25s infinite;
    }
}

@keyframes loading {
    100% {
        transform: translateX(100%);
    }
}

//Dialog
.Dialog {
    display: none;
    height: 100vh;
    width: 100vw;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 2;
    .Card {
        position: relative;
        height: 50%;
        width: 50%;
        margin: 10% auto 10% auto;
        padding: 8px 24px;
    }
}

//Snackbar
.Snackbar {
    visibility: hidden;
    text-align: center;
    border-radius: 5px;
    color: white;

    position: fixed;
    top: 75px;
    left: calc(85% / 2);

    padding: 2px 16px;
    z-index: 3;

    display: flex;
    align-items: center;
    justify-content: flex-start;

    height: 5%;

    &.Error {
        background-color: red;
        &.Error::before {
            @extend %SnackLogo;
            background-image: url("../../Assets/error.svg");
        }
    }
    // &.Info {
    //     background-color: blue;
    // }

    &.Success {
        background-color: green;
        &.Success::before {
            @extend %SnackLogo;
            background-image: url("../../Assets/success.svg");
        }
    }
    // &.Warning {
    //     background-color: #ffa000;
    // }

    // .SnackLogo {
    //     visibility: hidden;
    //     width: 5%;
    //     fill: white;
    //     margin: 0px 16px;

    //     &.Error,
    //     &.Info,
    //     &.Success,
    //     &.Warning {
    //         visibility: visible;
    //     }
    // }
}

.Snackbar.Show {
    visibility: visible;
    animation: fadeIn 0.5s, fadeOut 0.5s 1.5s;
}

@keyframes fadeIn {
    from {
        top: 0;
        opacity: 0;
    }
    to {
        top: 75px;
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        top: 75px;
        opacity: 1;
    }
    to {
        top: 0;
        opacity: 0;
    }
}

//Spinner
.SpinnerContainer {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    h1 {
        position: absolute;
    }
    .Spinner {
        height: 50vh;
        width: 50vh;
        border: 15px solid rgba($color: gray, $alpha: 0.3);
        border-top: 15px solid black;
        border-radius: 50%;
        animation: spin 1s linear infinite;
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
