%CardHeight {
    height: 100%;
}

.Contentpage {
    width: 85%;
    background-color: rgba($color: #000000, $alpha: 0.1);
    .CardGrid_SearchQuote {
        // display: grid;
        height: 100vh;
        width: 100%;
        margin: 0 auto;
        display: grid;

        row-gap: 5%;
        // grid-template-rows: 30% 25% 30% 15%;
        // grid-template-columns: 25% 25% 20% 30%;
        grid-template-areas:
            "Description Description Description Description"
            "Chart Chart Chart KeyStatistic"
            "Chart Chart Chart BuySell"
            "Earnings Earnings Earnings Earnings";

        .Description {
            grid-area: Description;
            place-self: center stretch;
            @extend %CardHeight;
            .Title {
                height: 10%;
            }
            .Tags {
                display: flex;
                flex-direction: row;
                .TagsItem {
                    border-radius: 15px;
                    border: 1px black solid;
                    padding: 4px 8px;
                    margin: 0px 8px;
                }
            }
            .Summary {
                font-size: large;
                height: 60%;
            }
        }
        .BuySellBtn {
            grid-area: BuySell;
            place-self: center;
            @extend %CardHeight;
        }
        .Chart {
            grid-area: Chart;
            place-self: center stretch;
            @extend %CardHeight;

            .LH {
                stroke: black;
                stroke-width: 0.5;
            }
        }
        .KeyStatistic {
            grid-area: KeyStatistic;
            place-self: center stretch;
            @extend %CardHeight;
            .KeySummary {
                display: flex;
                flex-direction: row;
                justify-content: center;
                tbody {
                    margin: 0 5px;
                    td {
                        border-bottom: 1px grey solid;
                        display: flex;
                        justify-content: space-between;
                        b {
                            margin: 0px 5px 0px 0px;
                        }
                    }
                }
            }
        }
        .IncomeStatement {
            grid-area: Earnings;
            place-self: center stretch;
            @extend %CardHeight;
            .xAxis,
            .yAxis,
            .yAxisGrid {
                path {
                    visibility: hidden;
                }
            }
        }
    }
}
