%CardBeforeHeader {
    display: block;
    position: absolute;
    top: 0;
    left: 0;

    font-size: 1.25em;
    margin: 16px 16px;
    font-weight: bold;
}

.Contentpage {
    .Dashboard {
        display: grid;
        margin: 2%;
        column-gap: 2%;
        row-gap: 2%;
        grid-template-areas:
            "AccountInfo  PortfolioChart"
            "PNLChart PNLChart"
            "Portfolio Portfolio"
            "Transactions Transactions";

        .AccountInfo {
            grid-area: AccountInfo;
            place-self: stretch;
            .Card {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                .Header {
                    margin-top: 0;
                    &::after {
                        content: "Here's Your Portfolio Performance 👇";
                        display: block;
                        color: gray;
                        margin: 8px 0px;
                        position: relative;
                        font-size: 0.5em;
                    }
                }
                .JoinDate {
                    span {
                        font-size: calc(2rem + 0.2vw);
                        padding: 0px 0.5%;
                    }
                }
                .StatContainer {
                    margin: 8px;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-between;
                    .Up {
                        color: green;
                    }
                    .Down {
                        color: red;
                    }
                    .PortfolioValue {
                        &::before {
                            content: "Portfolio Value📈";
                            display: block;
                            color: gray;
                            position: relative;
                            margin: 8px 0px;
                        }
                    }
                    .TotalReturn {
                        &::before {
                            content: "Total Return💵";
                            display: block;
                            color: gray;
                            position: relative;
                            margin: 8px 0px;
                        }
                    }
                }
            }
        }
        .PortfolioChart {
            grid-area: PortfolioChart;
            place-self: stretch;
            .Card {
                display: flex;
                align-items: center;
                justify-content: space-evenly;
                position: relative;

                .InfoContainer {
                    &::before {
                        content: "Account Detail";
                        @extend %CardBeforeHeader;
                        // display: block;
                        // position: absolute;
                        // top: 0;
                        // left: 0;

                        // font-size: 1.25em;
                        // margin: 16px 16px;
                        // font-weight: bold;
                    }
                    .CashValue {
                        &::before {
                            content: "Cash Value";
                            display: block;
                            color: gray;
                            font-size: 1em;
                            text-decoration-line: underline;
                            margin: 8px 0px;
                        }
                    }
                    .TotalStockValue {
                        &::before {
                            content: "Total Stock Value";
                            display: block;
                            color: gray;
                            font-size: 1em;
                            text-decoration-line: underline;
                            margin: 8px 0px;
                        }
                    }
                }
            }
        }
        .PNLChart {
            grid-area: PNLChart;
            place-self: stretch;
            .Card {
                min-height: 400px;
                position: relative;
                div {
                    &::before {
                        content: "Realized PNL";
                        @extend %CardBeforeHeader;
                        // display: block;
                        // position: absolute;
                        // top: 0;
                        // left: 0;

                        // font-size: 1.25em;
                        // margin: 16px 16px;
                        // font-weight: bold;
                    }
                    .yAxis,
                    .xAxis {
                        path {
                            display: none;
                        }
                        text {
                            font-size: calc(0.8rem + 0.2vw);
                            color: gray;
                            opacity: 0.75;
                        }
                    }
                }
            }
        }

        .Portfolio {
            grid-area: Portfolio;
            place-self: center stretch;
            .Card {
                position: relative;
                .PortfolioTable {
                    &::before {
                        content: "Portfolio Overview";
                        @extend %CardBeforeHeader;
                    }
                    border-collapse: collapse;
                    margin-top: 5%;
                    width: 100%;
                    text-align: center;
                    overflow-y: scroll;
                    tr {
                        border-bottom: 0.1px solid gray;
                    }
                    th {
                        color: gray;
                        padding: 1% 0%;
                    }
                    td {
                        padding: 2% 0%;
                        font-weight: bold;

                        &.Up {
                            color: green;
                        }
                        &.Down {
                            color: red;
                        }
                        &.Symbol {
                            cursor: pointer;
                            color: lightseagreen;
                        }
                        &::after {
                            content: " ";
                            display: block;
                            position: relative;
                            width: 100%;
                            height: 1px;
                            color: gray;
                        }
                    }
                }
            }
        }
        .Transactions {
            grid-area: Transactions;
            place-self: center stretch;
            .Card {
                position: relative;
                .TransactionsTable {
                    &::before {
                        content: "Recent Transactions";
                        @extend %CardBeforeHeader;
                    }
                    margin-top: 5%;
                    width: 100%;
                    text-align: center;
                    border-collapse: collapse;
                    .Up {
                        color: green;
                    }
                    .Down {
                        color: red;
                    }
                    tr {
                        border-bottom: 0.1px solid gray;
                    }
                    th {
                        color: gray;
                        padding: 1% 0%;
                    }
                    td {
                        padding: 2% 0%;
                        font-weight: bold;
                        &.Symbol {
                            cursor: pointer;
                            color: lightseagreen;
                        }
                    }
                }
            }
        }
    }
}
