%tagBorder {
    border: 1px solid black;
    background: white;
    border-radius: 15px;
    padding: 4px 16px;
}

%orderPanelHeader {
    display: block;
    position: absolute;
    top: 0;
    font-weight: bold;
    margin: 8px 16px;
}
%orderBuySellHeader {
    right: 0;
    font-size: calc(1rem + 0.1vw);
    color: white;
    padding: 4px 30px;
    border-radius: 10px;
}
%orderLabel {
    content: attr(name);
    display: inline-block;
    position: absolute;
    left: 0;
}

.Contentpage {
    .SearchQuote {
        display: grid;
        //height: 100%;
        margin: 1%;
        column-gap: 1%;
        row-gap: 1%;

        grid-template-columns: auto 20% 25%;
        grid-template-areas:
            "SearchInput SearchInput OrderPanel"
            "StockInfo KeyData OrderPanel"
            "MainChart MainChart OrderPanel"
            "MainChart MainChart TransactionHistory"
            "MainChart MainChart TransactionHistory"
            "MainChart MainChart TransactionHistory";
        .SearchInput {
            input {
                width: 100%;
                margin: 0% auto;
            }
            grid-area: SearchInput;
        }
        .StockInfo {
            grid-area: StockInfo;
            place-self: stretch;

            display: flex;
            flex-direction: column;
            justify-content: space-evenly;

            .Header {
                display: flex;
                flex-direction: column;
                .CompanyName {
                    display: inline-flex;
                    align-items: center;
                    justify-content: space-between;
                    width: 100%;
                    h1 {
                        font-size: calc(3rem + 0.1vw);
                        margin: 2% 0%;
                    }
                    .webLogo {
                        height: 30px;
                        width: 30px;
                        vertical-align: text-bottom;
                    }
                }
                .SymbolTags {
                    display: inline-flex;
                    align-items: center;
                    justify-content: space-between;
                    width: 100%;
                    h4 {
                        color: rgba($color: gray, $alpha: 0.7);
                    }
                    div {
                        display: inline-flex;
                        div {
                            margin: 0%;
                            font-size: calc(0.75rem + 0.1vw);
                            @extend %tagBorder;
                        }
                    }
                }
            }
            .Price {
                &::before {
                    content: "$";
                    display: inline;
                    font-size: initial;
                }
                font-size: calc(4rem + 0.1vw);
                margin: 0% 0% 0% 0%;
                &::after {
                    content: attr(currency);
                    display: inline;
                    font-size: initial;
                }
            }
            .PriceChange {
                display: flex;
                align-items: center;
                position: relative;
                justify-content: space-between;
                h2 {
                    margin: 0% 2%;
                }
                h5 {
                    opacity: 0.5;
                    margin-bottom: 0;
                }
            }
        }
        .KeyData {
            grid-area: KeyData;
            place-self: stretch;
            .Card {
                position: relative;
                display: flex;
                flex-direction: column;

                &::before {
                    content: "Key Stats";
                    display: block;
                    position: absolute;
                    top: 0;
                    left: 0;
                    margin: 8px 16px;
                    font-weight: bold;
                }
                tbody {
                    padding-top: 1em;
                    border-collapse: collapse;
                    tr {
                        border-bottom: 2px solid gray;
                        position: relative;
                        td {
                            &::before {
                                content: attr(ColLabel);
                                display: block;
                                position: relative;
                                color: gray;
                                margin: 4px 0px;
                            }
                            padding: 0px 0px 4px 0px;
                        }
                    }
                }
            }
        }

        .OrderPanel {
            grid-area: OrderPanel;
            place-self: stretch;

            .Card {
                position: relative;
                display: flex;
                flex-direction: column;
                padding-top: calc(2.5rem + 0.1vw);
                max-height: 48vh;

                &::before {
                    content: "Market Order";
                    @extend %orderPanelHeader;
                    left: 0;
                    font-size: calc(1.25rem + 0.1vw);
                }

                .OrderInterface {
                    flex-direction: column;
                    display: none;

                    &.Show {
                        display: flex !important;
                    }

                    .Type {
                        @extend %orderPanelHeader;
                        @extend %orderBuySellHeader;
                        &.Buy {
                            background: green;
                        }
                        &.Sell {
                            background: red;
                        }
                    }
                    .PositionInfo {
                        position: relative;
                        display: flex;
                        flex-direction: column;

                        .CashBalance,
                        .Position {
                            margin: 2.5% 0%;
                            font-weight: bold;
                            position: relative;
                            text-align: end;
                            &::before {
                                content: attr(name) ":";
                                display: inline-block;
                                position: absolute;
                                left: 0;
                                color: gray;
                            }
                        }
                        .ButtonGroup {
                            display: flex;
                            align-items: center;
                            justify-content: space-evenly;
                            button {
                                width: 35%;
                                padding: 12px 0.1rem;
                                border-radius: 7.5px;
                                cursor: pointer;
                                box-shadow: 5px 10px 30px
                                    rgba($color: black, $alpha: 0.1);
                                font-size: calc(0.75rem + 0.1vw);
                            }
                        }
                    }

                    .OrderForm {
                        margin: 5% 0% 0% 0%;
                        text-align: end;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-evenly;
                        position: relative;

                        font-weight: bold;
                        font-size: calc(1rem + 0.2vw);
                        .InputContainer {
                            &::before {
                                @extend %orderLabel;
                                color: gray;
                            }
                            margin: 8px;
                            .Shares {
                                width: 30%;
                                padding: 8px 12px;
                            }
                        }
                        .MarketPrice {
                            &::before {
                                @extend %orderLabel;
                                color: gray;
                            }
                            margin: 8px;
                        }
                        .TotalCost {
                            &::before {
                                @extend %orderLabel;
                            }
                            margin: 8px;
                        }
                        .Divider {
                            width: 100%;
                            margin: 16px 8px;
                        }
                        .OrderButton {
                            padding: 12px 0px;
                            border-radius: 10px;
                            color: white;
                            background: black;
                            cursor: pointer;
                        }
                        h6 {
                            text-align: center;
                            text-decoration: underline;
                            font-size: 1rem;
                            margin: 1%;
                            cursor: pointer;
                        }
                    }
                }
            }
        }
        .TransactionHistory {
            grid-area: TransactionHistory;
            place-self: stretch;

            .Card {
                // height: 100%;
                //height: 100%;
                height: 48vh;
                max-height: 48vh;
                position: relative;
                display: flex;
                flex-direction: column;

                padding-top: calc(2rem + 0.2vw);

                overflow-y: scroll;
                overflow-x: hidden;

                &::before {
                    content: "Transcation History";
                    @extend %orderPanelHeader;
                    left: 0;
                    font-size: calc(1.25rem + 0.1vw);
                }
                table {
                    margin: 2% 0% 0% 0%;
                    text-align: center;
                    border-collapse: collapse;
                    position: relative;
                    .Colname {
                        th {
                            position: sticky;
                            z-index: 0;
                            top: 0;
                            border-bottom: 1px solid gray;
                            color: gray;
                            padding: 8px 12px;
                        }
                    }
                }
                .Row {
                    td {
                        border-bottom: 0.1px solid gray;
                        padding: 8px;
                    }
                    .Type {
                        &::after {
                            content: attr(date);
                            display: block;
                            position: relative;
                            bottom: 0;
                            color: gray;
                            font-weight: bold;
                        }
                    }
                    .Quantity {
                        &::after {
                            content: "@" attr(price);
                            display: block;
                            position: relative;
                            bottom: 0;
                            color: gray;
                            font-weight: bold;
                        }
                    }
                }
                .Divider {
                    width: 100%;
                }

                .EmptyTransaction {
                    height: clamp(200px, 100%, 1000px);
                    position: relative;

                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: calc(1.5rem + 0.1vw);
                }
            }
        }
    }
}
