.Contentpage {
    .NewsCardGrid {
        display: grid;
        //width: 100%;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        margin: 2.5%;
        row-gap: 5%;
        column-gap: 5%;
        .NewsCard {
            display: flex;
            flex-direction: column;
            height: 100%;
            .ThumbnailPic {
                display: flex;
                align-items: center;
                justify-content: center;
                img {
                    border-radius: 20px;
                    object-fit: contain;
                    width: fill;
                    height: 150px;

                    // width: 200px;
                    // height: 150px;
                }
            }
            .Title {
                font-size: x-large;
            }
            .NewsFooter {
                display: flex;
                justify-content: space-between;
            }
        }
    }
}
