%flexrow {
    display: flex;
    flex-direction: row;
}

.Contentpage {
    .OptionsGrid {
        width: 100%;
        overflow-y: scroll;
        border: 1px black solid;

        .ColName {
            th {
                position: sticky;
                top: 0;
                z-index: 30;
                background-color: black;
                color: white;
                border-bottom: 3px solid black;
            }
        }
        .Row {
            text-align: center;
        }
        .Row:hover {
            background-color: rgba($color: #000000, $alpha: 0.3);
        }
        .CallInTheMoney {
            td:nth-child(-n + 7) {
                background-color: rgba($color: #ffffe0, $alpha: 0.5);
            }
        }
        .PutInTheMoney {
            td:nth-child(n + 9):nth-child(n-13) {
                background-color: rgba($color: #ffffe0, $alpha: 0.5);
            }
        }

        .up {
            font-weight: bold;
            color: green;
        }
        .down {
            font-weight: bold;
            color: red;
        }
    }
}
